
<div class="row  mt-2">
   
    <h3>Parte privada</h3>
    <hr>
    
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-primary"
                routerLinkActive="active"
                routerLink="una">Página 1</button>
            <button class="btn btn-outline-primary mx-3"
                routerLinkActive="active"
                routerLink="dos">Página 2</button>
        </div>
    
        <div class="row">
            <div class="col">
                <div class="mt-3">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    
